.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #F4EBD0;
  justify-content: center;
  background-image: linear-gradient(305.07deg, #B68D40 46.02%, #F3E2C3 46.14%);;
  grid-column-gap: 50px;

  img {
    width: 100%;
    height: 30vh;
  }

  .hero-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // background: url(./../../assets/skew-bg.png) no-repeat;
   
    background-size: cover;
    flex-grow: 1;
    .hero-text-main {
      font-family: 'Ribeye';
      font-size: 4rem;
    }
    .hero-text-main-1{
      color: #C24003;
      position: relative;
      left: -45px;
    }

    .hero-text-main-2{
      color: #4E76AB;
      position: relative;
      left: 45px;
    }

    .hero-text-sub {
      font-family: 'Reenie Beanie';
      font-style: normal;
      font-weight: 500;
      font-size: 2rem;
    }
  }
}